# Python のバイトコードキャッシュや __init__.py を無視
__pycache__/
*.pyc
*.pyo
*.pyd
__init__.py

#ガチなキー
.env
/bitcoin/.env
/bitcoin/trade/.env

/health_dashboard/teacher_data/
myhealthdash/repo.git/
myhealthdash/teacher_data/twitter_exports/*.zip
